<div class="card calendar">
    <div class="card-header">
        Rennen ajaxID
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img src="ajaxImage" class="img-fluid">
            </div>
            <div class="col-3 col-lg-2">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Strecke</th>
                        </tr>
                        <tr>
                            <th>Layout</th>
                        </tr>
                        <tr>
                            <th>Datum</th>
                        </tr>
                        <tr>
                            <th>Ergebnis</th>
                        </tr>
                        <tr>
                            <th>Vorfälle</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-9 col-lg-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>ajaxCircuit</td>
                        </tr>
                        <tr>
                            <td>ajaxLayout</td>
                        </tr>
                        <tr>
                            <td>ajaxStart</td>
                        </tr>
                        <tr>
                            <td>ajaxResult</td>
                        </tr>
                        <tr>
                            <td>TBD</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>