<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="card border-dark">
        <img src="ajaxImage" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">ajaxCircuit</h5>
            <p class="card-text">ajaxLayout</p>
        </div>
        <div class="card-body">
            <p>ajaxStart</p>
            <a href="ajaxResult" class="card-link">Result</a>
            <a href="ajaxIncidents" class="card-link">Incidents</a>
        </div>
    </div>
</div>